html {
	font-family: "Roboto";
}

.header {
	position: relative;
}

.header nav {
	height: 51px;
	background-color: #212121;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 10px 0 10px 0;
}

.main-nav__item {
	position: relative;
	list-style-type: none;
}

.main-nav__item:not(:last-child):after {
	content: "";
	display: block;
	position: absolute;
	width: 2px;
	height: 31px;
	mix-blend-mode: soft-light;
	background-color: black;
	transform: translate(4vw, -26px);
	right: 0;
}

.nav-link {
	text-decoration: none;
	font-size: 15px;
	font-weight: 300;
	text-align: left;
	color: #ffffff;
}

.subheader {
	height: 84px;
	padding: 16px 0 17px 0;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	width: 100%;
}

.logo-link {
	text-decoration: none;
}

.subheader__desc {
	font-size: 13px;
	font-weight: 100;
	text-align: left;
	color: rgba(255, 255, 255, 0.5);
	user-select: none;
}

.subheader__call-text {
	font-size: 12px;
	font-weight: 300;
	text-align: right;
	color: #ffffff;
}

.subheader__tel {
	display: block;
	font-size: 22px;
	font-weight: normal;
	text-align: right;
	color: #ffffff;
	text-decoration: none;
}

.subheader__btn,
.promo__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 172px;
	height: 46px;
	box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
	background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
	text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
}

.promo {
	min-height: 799px;
	padding: 151px 0 135px;
	background: url("../img/bg/main-bg.jpg") center center/cover no-repeat;
}

.promo__title {
	font-size: 60px;
	font-weight: 900;
	text-align: center;
	color: #ffffff;
}

.promo__subtitle {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

.promo__desc {
	font-size: 18px;
	font-weight: normal;
	line-height: 1.33;
	text-align: center;
	color: #ffffff;
	margin-top: 23px;
}

.promo__btn {
	width: 259px;
	height: 63px;
	margin: 0 auto;
	margin-top: 118px;
}

.advantages {
	min-height: 900px;
	padding: 71px 0 61px;
}

.advantages__title {
	width: 112px;
	height: 24px;
	background-color: #000000;
	font-size: 11px;
	font-weight: 100;
	text-align: center;
	color: #ffffff;
	padding: 5px 0 6px;
	margin: 0 auto;
	text-transform: uppercase;
}

.advantages__subtitle {
	font-size: 38px;
	font-weight: bold;
	text-align: center;
	color: #222222;
	text-transform: uppercase;
	margin-top: 38px;
}

.advantages-card {
	display: flex;
	margin-top: 40px;
	justify-content: center;
}

.advantages-card__img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 113px;
	height: 113px;
	background-color: #1eacc7;
	border-radius: 50%;
	margin-right: 26px;
}

.advantages-card__icon {
	max-width: 100%;
}

.advantages-card__info {
	width: 341px;
	/* min-height: 141px; */
}

.advantages-card__title {
	font-size: 17px;
	font-weight: normal;
	color: #1eacc7;
	line-height: 1.4;
}

.advantages-card__descr {
	font-size: 15px;
	font-weight: 300;
	text-align: justify;
	color: #202020;
}
